body {
    background: url(https://image.shutterstock.com/image-photo/popcorn-spilled-box-on-black-260nw-586165508.jpg) no-repeat center center fixed;
    background-size: cover; 
    opacity: 0.9;
}

.main-body {
    height: 100vh;
}

div.hide-menu {
    display: none;
}

.item-rows {
    margin-top: 20px;
}

.item-columns {
    background-color: white;
    padding: 5px;
}

.close-button {
    float: right;
    display: block;
    clear: both !important;
    margin: 3px;
}

.update-button {
    float: right;
    display: block;
    clear: both !important;
    margin: 3px;
}

.update-form-fields {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.sample-poster {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important
}

.home-page-pics {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    max-height: 200px;
}