div.hide-menu {
    display: none;
}

.item-rows {
    margin-top: 20px;
}
.close-button {
    float: right;
    display: block;
    clear: both !important;
    margin: 3px;
}

.update-button {
    float: right;
    display: block;
    clear: both !important;
    margin: 3px;
}

.update-form-fields {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.sample-poster {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important
}